@import '../../../../../variables';

.label {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	padding: 8px 0 8px 8px;
	color: $black;
	border-bottom: 1px dotted $light-gray;

	div {
		font-size: 16px;
		text-align: center;
	}

	&:hover {
		background: $white-hover;
	}

	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.label-icon {
			color: $purple-accent;
			margin-right: 10px;
			width: 3%;
		}

		.label-addressee {
			width: 24%;
			font-weight: 500;
		}

		.label-id {
			color: $purple-secondary;
			width: 45%;
			text-align: center;
		}
	}
}

.sent {
	background: $light-gray-panel !important;
	cursor: alias !important;

	&:hover {
		background: $light-gray-panel !important;
	}

	header {

		.label-icon {
			color: $dark-gray !important;
		}

		.label-id {
			color: $light-gray !important;
		}
	}
}

.parcel-size {
	width: 8%;
	text-align: center;
}

.po-box {
	width: 20%;
}

.last {
	border: 0;
}