<div class="shipments-list">
	<div class="legend">
		<div class="label-icon"></div>
		<div class="label-id">ID</div>
		<div class="label-addressee">Addressee</div>
		<div class="parcel-size">Size</div>
		<div class="label-pobox">P.O. Box</div>
	</div>
	<section>
		<div *ngFor="let label of LABELS; let last = last">
			<jsn-shipment-info
				[label]="label"
				[last]="last"
				[matMenuTriggerFor]="appMenu"
			>
			</jsn-shipment-info>
			<mat-menu #appMenu="matMenu" xPosition="before">
				<button mat-menu-item (click)="deleteLabel(label)">Delete</button>
			</mat-menu>
		</div>
	</section>
	<div class="button-row">
		<button mat-raised-button color="accent" (click)="addNewLabel()">
			Add new
		</button>
	</div>
</div>

