@import '../../../../../variables';

.shipments-list {
	height: 100%;
}

section {
	max-height: calc(100% - 34px);
	overflow: scroll;
}

.legend {
	display: flex;
	flex-direction: row;
	padding: 8px 0;

	& div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: $dark-gray;
	}

	.label-icon {
		width: 3%;
	}

	.label-id {
		width: 45%;
	}

	.label-addressee {
		width: 24%;

	}

	.parcel-size {
		width: 8%;

	}

	.label-pobox {
		width: 20%;
	}
}

.button-row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 8px;

	button {
		background: $purple-accent;
		color: white;
	}
}

.sent {
	pointer-events: none !important;
}