<section class="register-card">
	<jsn-card [header]="'Register'" [border]="true" [centeredHeader]="true">
		<form [formGroup]="registerUserForm">
			<mat-form-field>
				<input matInput placeholder="Firstname"
					   [formControlName]="'firstname'"
					   autocomplete="off"
					   matTooltip="Only first letter capital &#13;Min. 2 letters"
					   [matTooltipHideDelay]="1000"
					   [matTooltipClass]="showError('firstname') ? ['tooltip', 'error-tooltip'] : 'tooltip'"
					   [matTooltipPosition]="'below'"
                       #firstnameTooltip="matTooltip">
				<mat-error *ngIf="registerUserForm.controls['firstname'].hasError('required')">
					<strong>Required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Lastname"
					   [formControlName]="'lastname'"
					   autocomplete="off"
					   matTooltip="Only first letter capital &#13;Min. 2 letters"
					   [matTooltipHideDelay]="1000"
					   [matTooltipClass]="showError('lastname') ? 'tooltip error-tooltip' : 'tooltip'"
					   [matTooltipPosition]="'below'"
                       #lastnameTooltip="matTooltip">
				<mat-error *ngIf="registerUserForm.controls['lastname'].hasError('required')">
					<strong>Required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Login"
					   [formControlName]="'login'"
					   autocomplete="off"
					   matTooltip="3-12 characters &#13; All lowercase"
					   [matTooltipHideDelay]="1000"
					   [matTooltipClass]="showError('login') ? 'tooltip error-tooltip' : 'tooltip'"
					   [matTooltipPosition]="'below'"
                       #loginTooltip="matTooltip">
				<mat-error *ngIf="registerUserForm.controls['login'].hasError('required')">
					<strong>Required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Email"
					   [formControlName]="'email'"
					   autocomplete="off"
					   matTooltip="Email"
					   [matTooltipHideDelay]="1000"
					   [matTooltipClass]="showError('email') ? 'tooltip error-tooltip' : 'tooltip'"
					   [matTooltipPosition]="'below'"
                       #emailTooltip="matTooltip">
				<mat-error *ngIf="registerUserForm.controls['email'].hasError('required')">
					<strong>Required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Address"
					   [formControlName]="'address'"
					   autocomplete="off"
					   matTooltip="First letter capital"
					   [matTooltipHideDelay]="1000"
					   [matTooltipClass]="showError('address') ? 'tooltip error-tooltip' : 'tooltip'"
					   [matTooltipPosition]="'below'"
                       #addressTooltip="matTooltip">
				<mat-error *ngIf="registerUserForm.controls['address'].hasError('required')">
					<strong>Required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Password"
					   [formControlName]="'password'"
					   autocomplete="off"
					   type="password"
					   matTooltip="Minimum 8 characters"
					   [matTooltipHideDelay]="1000"
					   [matTooltipClass]="showError('password') ? 'tooltip error-tooltip' : 'tooltip'"
					   [matTooltipPosition]="'below'"
                       #passwordTooltip="matTooltip">
				<mat-error *ngIf="registerUserForm.controls['password'].hasError('required')">
					<strong>Required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Confirm Password"
					   [formControlName]="'passwordConfirmation'"
					   autocomplete="off"
					   type="password"
					   matTooltip="Identical"
					   [matTooltipHideDelay]="1000"
					   [matTooltipClass]="!identicalPasswords() ? 'tooltip error-tooltip' : 'tooltip'"
					   [matTooltipPosition]="'below'"
                       #passwordConfirmationTooltip="matTooltip">
				<mat-error *ngIf="registerUserForm.controls['passwordConfirmation'].hasError('required')">
					<strong>Required</strong>
				</mat-error>
			</mat-form-field>
			<div class="button-row">
				<button mat-raised-button type="submit" class="mat-elevation-z4" color="primary" (click)="register()">
					Register
				</button>
			</div>
		</form>
	</jsn-card>
</section>
