<div class="dashboard-wrapper container-fluid">
	<jsn-card class="col-7 no-gutters half-height" [header]="'Track Your Shipments'">
		<jsn-shipment-tracker></jsn-shipment-tracker>
	</jsn-card>
	<jsn-card class="col-5 no-gutters half-height" [header]="'Credit Card Info'" [padding]="false">
		<jsn-credit-card-info></jsn-credit-card-info>
	</jsn-card>

	<jsn-card class="col-5 no-gutters half-height" [header]="'Credit Card Info'" [padding]="true">
	</jsn-card>
	<jsn-card class="col-4 no-gutters half-height" [header]="'TEST'" [padding]="true">
		<div style="background: red; height: 100%; width: 100%"></div>
	</jsn-card>
	<jsn-card class="col-3 no-gutters half-height" [header]="'Credit Card Info'" [padding]="true">
	</jsn-card>
</div>
