$accent-primary: #3d5afe;
$accent-shadow: #DBDBDB;
$accent-secondary: #DFE3FF;
$accent-secondary-hover: #cdd4fe;

$white: #eeeeee;

$black: #222222;

$dark-gray: #4c4c4c;

$light-gray: #a4a4a4;

$white-hover: #e2e2e2;

$light-gray-panel: #f3f3f3;

$credit-card-numbers: #F0F0F0;

$warn-primary: #FF5766;

$transition: all 100ms ease-in-out;

$text-secondary: #899aff;

$purple-accent: #854bea;
$purple-secondary: #c5aaf0;
$teal-accent: #3febbd;

$accent-positive: #44f413;